{% extends "index.html" %}
{% block cameraFeed %}
<div id="container">
    <canvas id="canvasOutput"></canvas>
    <video autoplay="true" id="videoElement"></video>
</div>

<div class = 'video'>
    <img id="image">
</div>

<script src="//code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
<script src="https://docs.opencv.org/4.0.1/opencv.js"></script>

<script>
    var socket = io('http://localhost:5000');

    socket.on('connect', function(){
        console.log("Connected...!", socket.connected)
    });

    const video = document.querySelector("#videoElement");

    let videoBox = document.querySelector('.cameraFeed');
    video.width = videoBox.offsetWidth; 
    video.height = videoBox.offsetHeight; 

    if (navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
            video.srcObject = stream;
            video.play();
        })
        .catch(function (err0r) {
            console.log(err0r)
            console.log("Something went wrong!");
        });
    }

    // let src = new cv.Mat(video.height, video.width, cv.CV_8UC4);
    // let dst = new cv.Mat(video.height, video.width, cv.CV_8UC1);
    // let cap = new cv.VideoCapture(video);
    function capture(video, scaleFactor) {
        if(scaleFactor == null){
            scaleFactor = 1;
        }
        var w = video.videoWidth * scaleFactor;
        var h = video.videoHeight * scaleFactor;
        var canvas = document.createElement('canvas');
            canvas.width  = w;
            canvas.height = h;
        var ctx = canvas.getContext('2d');
            ctx.drawImage(video, 0, 0, w, h);
        return canvas;
    } 

    setInterval(() => {
        var type = "image/png"
        var video_element = document.getElementById("videoElement")
        var frame = capture(video_element, 1)
        var data = frame.toDataURL(type);
        socket.emit('image', data);
    }, 100);


    // socket.on('response_back', function(image){
    //     const image_id = document.getElementById('image');
    //     image_id.src = image;
    // });

</script>

{% endblock %}