<head>
    <link rel="stylesheet" href="static/assets/style.css">
    <title>Emotion AI</title>
</head>
<body>

    <script>
        var emotion_manager = new EventSource("/emotion");
        emotion_manager.onmessage = function(event) {
            data = event.data.split("&&&");
            face_id = data[0];
            angry = data[1];
            disgusted = data[2];
            sad = data[3];
            happy = data[4];
            surprised = data[5];
            
            document.getElementById("angry").textContent= "Angry: " + angry;
            document.getElementById("disgusted").textContent="Disgusted: " + disgusted;
            document.getElementById("sad").textContent="Sad: " + sad;
            document.getElementById("happy").textContent="Happy: " + happy;
            document.getElementById("surprised").textContent="Surprised: " + surprised;
        }
    </script>


    <div class="streamContainer">
        <h1>Live Streaming</h1>
        <div class="feeds">
            <div class="cameraFeed">
                <canvas id="canvasOutput"></canvas>
                <video autoplay="true" id="videoElement"></video>
            </div>
            <div class="outputFeed">
                <h2>Emotion: </h2>
                <div class="emotionList">
                    <h2 id=angry></h2>
                    <h2 id=disgusted></h2>
                    <h2 id=sad></h2>
                    <h2 id=happy></h2>
                    <h2 id=surprised></h2>
                </div>
            </div>
        </div>
    </div>


    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    
    <!--Video stream service-->
    <script>
        var socket = io('http://localhost:5000');

        socket.on('connect', function(){
            console.log("Connected...!", socket.connected)
        });

        const video = document.querySelector("#videoElement");

        let videoBox = document.querySelector('.cameraFeed');
        video.width = videoBox.offsetWidth; 
        video.height = videoBox.offsetHeight; 

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;
                video.play();
            })
            .catch(function (err0r) {
                console.log(err0r)
                console.log("Something went wrong!");
            });
        }

        function capture(video, scaleFactor) {
            if(scaleFactor == null){
                scaleFactor = 1;
            }
            var w = video.videoWidth * scaleFactor;
            var h = video.videoHeight * scaleFactor;
            var canvas = document.createElement('canvas');
                canvas.width  = w;
                canvas.height = h;
            var ctx = canvas.getContext('2d');
                ctx.drawImage(video, 0, 0, w, h);
            return canvas;
        } 

        setInterval(() => {
            var type = "image/png"
            var video_element = document.getElementById("videoElement")
            var frame = capture(video_element, 1)
            var data = frame.toDataURL(type);
            socket.emit('image', data);
        }, 500);


        // socket.on('response_back', function(image){
        //     const image_id = document.getElementById('image');
        //     image_id.src = image;
        // });
    </script>
</body>