<head>
    <link rel="stylesheet" href="static/assets/style.css">
    <title>Emotion AI</title>
</head>
<body>
    <div class="streamContainer">
        <h1>Live Streaming</h1>
        <div class="feeds">
            <div class="cameraFeed" id="cameraFeed">
                <video autoplay="true" id="videoElement"></video>
            </div>
            <div class="outputFeed">
                <h2 style="font-weight: 500;">Emotion: </h2>
                <div class="emotionList">
                    {% for i in range(numEmotions) %}
                        <h2 id="emotion_{{i}}"></h2>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- socket.io lib -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.4.0/socket.io.js"></script>
    
    <!--Video/data stream service-->
    <script>
        var socket = io('{{address}}');

        socket.on('connect', function(){
            console.log("Connected...!", socket.connected)
        });

        const video = document.querySelector("#videoElement");

        if (navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;
                video.play();
            })
            .catch(function (err0r) {
                console.log(err0r)
                console.log("Something went wrong!");
            });
        }

        function capture(video, scaleFactor) {
            if(scaleFactor == null){
                scaleFactor = 1;
            }
            var w = video.videoWidth * scaleFactor;
            var h = video.videoHeight * scaleFactor;
            var canvas = document.createElement('canvas');
                canvas.width  = w;
                canvas.height = h;
            var ctx = canvas.getContext('2d');
                ctx.drawImage(video, 0, 0, w, h);
            return canvas;
        } 

        setInterval(() => {
            var type = "image/png"
            var video_element = document.getElementById("videoElement")
            var frame = capture(video_element)
            var data = frame.toDataURL(type);
            socket.emit('image', data);
        }, 100);

        var label_to_text = {
            0: "Angry",
            1: "Disgusted",
            2: "Sad",
            3: "Happy",
            4: "Surprised"
        };

        socket.on('emotionDict', function(data){
            for (const [key, value] of Object.entries(data.values)) {
                em_selector = document.getElementById(`emotion_${key}`);
                em_selector.textContent= label_to_text[key] + ": " + value;
                if (data.max == value) {
                    em_selector.style.fontWeight = "800"
                } else {
                    em_selector.style.fontWeight = "200"
                }
            }
        });

        // socket.on('response_back', function(image){
        //     const image_id = document.getElementById('image');
        //     image_id.src = image;
        // });
    </script>

    <!-- Check for the device type -->
    <script>
        const deviceType = () => {
            const ua = navigator.userAgent;
            if (/(tablet|ipad|playbook|silk)|(android(?!.*mobi))/i.test(ua)) {
                alert("Please open this website on a desktop/laptop, not a tablet")
                return "tablet";
            }
            else if (/Mobile|Android|iP(hone|od)|IEMobile|BlackBerry|Kindle|Silk-Accelerated|(hpw|web)OS|Opera M(obi|ini)/.test(ua)) {
                alert("Please open this website on a desktop/laptop, not a phone")
                return "mobile";
            }
            return "desktop";
        };
        deviceType();
    </script>

</body>
<footer>
    <h3>Made by Nojus Kybartas</h3>
</footer>